.Homepage-games {
  .Homepage-games-select {
    margin: 1rem 2rem 0;
    width: 15rem;

    .MuiFormLabel-root {
      color: white;
      font-weight: bold;
    }

    &__dropdown {
      color: white;
      width: 100%;

      .MuiSelect-icon {
        color: white;
      }

      &:before {
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      }
    }
  }
}
