.Homepage-games {
  .Game-card {
    display: inline-block;
    margin: 1rem 1rem 0;
    text-align: center;
    max-width: 11rem;

    &__image {
      max-height: 14rem;
      width: 100%;
    }

    .MuiCardContent-root {
      padding: 0.5rem;
    }

    .MuiTypography-gutterBottom {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
