.games-filters__search {
  margin: 1rem;
  width: 11rem;

  .filters-search__label {
    color: white;
    font-weight: bold;
  }
  
  .MuiAutocomplete-clearIndicator {
    color: white;
  }

  .search-autocomplete__textfield {
    .MuiInputBase-root {
      padding-right: 1.5rem;
      color: white;
      
      &:before {
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      }
    }
  }
}
