.Homepage-games-search {
  margin: 1rem;
  width: 11em;

  .MuiFormLabel-root {
    color: white;
    font-weight: bold;
  }
  
  .MuiAutocomplete-clearIndicator {
    color: white;
  }

  &__textfield {
    .MuiInputBase-root {
      padding-right: 1.5rem;
      color: white;
      
      &:before {
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      }
    }
  }
}
